.title{
  border-bottom: solid 3px #796a43;
  width: 30vw;
}
p.btn.on {
  display: none;  
}
p.off{
  display: none; 
}
p#off.btn{
  opacity:.7;
  box-shadow: 5px 7px #9b9999;
  transform: translateY(4px);
  border: none;
}

.btn{
  width: 150px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-color: #4293d0;
  box-shadow: 2px 3px #727272;
}